:root {
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  /* FONT VARIABLES */
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;

  /* RESPONSIVE BREAKPOINTS */
  --bp-largest: 75em;
  --bp-large: 62.5em;
  --bp-medium: 50em;
  --bp-small: 37.5em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: var(--bp-largest)) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  height: 8rem;
  background-color: var(--color-grey-dark-2);
}

.navigation {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  width: 40%;
}

.logo a {
  text-decoration: none;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: var(--color-grey-light-1);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 60%;
}

.nav-item {
  margin-left: 4rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-grey-light-1);
  font-size: 1.8rem;
}

h1 {
  margin-top: 3rem;
}

.shows-list {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
}

.show-card {
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.show-image {
  width: 100%;
  height: 70%;
}

.show-title {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem;
}

/* ///////////////////style comment////////////////////////// */
.btn {
  background-color: transparent;
  margin: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-comment {
  justify-self: end;
  margin-top: auto;
}

.btn-comment:hover {
  background-color: var(--color-secondary);
  color: var(--color-grey-light-1);
}

.shows-comment {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  overflow: scroll;
  display: none;
}

.container-comment {
  max-width: 100rem;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  border: 3px solid var(--color-secondary);
  position: relative;
}

.image-container {
  width: 50%;
  height: 50%;
}

.comment-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.shows-name {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  padding: 0 8rem;
}

.show-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60rem;
  gap: 4rem;
}

.detail span {
  margin: 0 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.nameInput,
.commentInput {
  width: 100%;
  padding: 1rem;
}

.close-btn {
  font-weight: bolder;
  font-size: 4rem;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

.box-comment {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: var(--color-secondary);
  color: var(--color-grey-light-1);
  padding: 3rem 2rem;
  width: 80%;
}

.footer {
  padding: 8rem 4rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  background-color: var(--color-grey-dark-2);
  color: var(--color-grey-light-1);
}
